body {
    width: 100%;
}

.info {
    background-color: #ccddff;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 3em;
    padding-right: 2em;
    margin-top: .25em;
    margin-bottom: .25em;
    border-left: 10px solid #8080ff;
    width: 100%;
}

.current-setting {
    background-color: #fff0b3;
    padding-top: .125em;
    padding-bottom: .125em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
    border-left: 10px solid #ffcc00;
    width: 100%;
}

.error {
    background-color: #ff9999;
    padding-top: .125em;
    padding-bottom: .125em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
    border-left: 10px solid #990000;
    width: 100%;
}

.info p,
.info li,
.current-setting p,
.current-setting li {
    color: #606060;
}

.remove {
    color: blue;
    float: right;
    font-weight: normal;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.current-setting dt {
    background-color: #ffcc00;
    font-weight: bold;
    padding: .125em;
}
.current-setting dd {
    padding-bottom: .745em;
}

.current-setting p strong {
    color: #404040;
}

.hidden {
    display: none;
}
