html, body {
    width: 400px;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    border: 0;
}

#summary {
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: .8rem;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: .125em;
    padding-bottom: .125em;
}
#title {
    font-size: 1.2rem;
}

#operations {
    padding-top: .125em;
    padding-bottom: .125em;
}

.button {
    background-color: #7F7FF7;
    color: #efefef;
    font-weight: bold;
    font-family: sans-serif;
    padding: .3em;
    text-align: center;
}

.button:hover {
    background-color: #8F8FF8;
}

.hidden {
    display: none;
}

.marked {
    background-image: url("icons/feather_filled.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: overlay;
    background-position: right center;
}

.unmarked {
    background-image: url("icons/feather_outline.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: overlay;
    background-position: right center;
}

.unknown {
    background-color: #EFEFEF;
    color: #3D3D3D;
    border-bottom: .25em solid #3D3D3D;
}

.tracked-ahead {
    background-color: #AED581;
    color: #3D3D3D;
    margin-left: -10em;
    border-left: 10.5em solid #43A047;
}

.tracked-behind {
    background-color: #C70039;
    color: #FFE6E6;
    margin-left: -10em;
    border-left: 10.5em solid #900C3F;
}

.untracked {
    background-color: #FFF176;
    color: #3D3D3D;
    margin-left: -10em;
    border-left: 10.5em solid #FDD835;
}
